* {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    transition: all ease-in-out 0.3s;
    border-radius: 30px;
}

#navbar:hover {
    background-color: rgb(55, 152, 218);
    color: white;
    transition: all ease-in-out 0.3s;
    border-radius: 30px;
}

#callus {
    background-color: rgb(55, 152, 218);
    border-radius: 30px;
    color: white;
}

#user {
    background: rgb(0, 212, 243);
    background: linear-gradient(302deg, rgba(0, 212, 243, 1) 25%, rgba(22, 111, 255, 1) 50%, rgba(0, 43, 112, 1) 75%);
    color: white;
}

#logout{
    color: rgb(55, 152, 218);
}
#logout:hover{
    color: rgb(55, 152, 218);
}